<link href="/stylesheets/scaffold.css?1291278895" media="screen" rel="stylesheet" type="text/css" />
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  </head>
  <body>
    <h1>О сайте</h1>
    <p style="text-align: center;">
      Этот сайт нужен для того, что бы отметить на карте все те участки дорог </br> 
      в городе, где невозможно проехать и трудно пройти.</p>
    <p style="text-align: center;">Как правило, препятствия создают ямы и открытые канализационные люки.</br>
      Их уже сейчас можно добавить на карту.
    </p>
    </br>
    <div style="text-align: center; margin-center">
      <img src=/images/about.jpg  align=center> </img>
      <img src=/images/about1.jpg  align=center> </img>
    </div>
    <div style="text-align: center; height: 27px;"> <br> 
      <br>
    </div>
    <p style="text-align: center;">Для того что бы добавлять и </br>
      редактировать метки на карте, необходимо зарегистрироваться.</br> 
      </br> 
      После регистрации на ваш e-mail будет выслано письмо </br>
      с именем пользователя, паролем и ссылкой
      активации учетной записи.
    </p>
    <%= link_to 'К карте', placemarks_path %>
 </body>
</html>



