<div style="text-align: center; margin-left: 239px; width: 700px;"   ><br>
<table style="text-align: left; " border="0" cellpadding="1" cellspacing="1">
<tbody>
<tr>
<td><img style="width: 32px; height: 32px;" alt=""  src="/images/Add%20Green%20Button.png"></td>
<td> Добавить до 3-х скриншотов на страницу "о сайте"<br>
</td>
</tr>
<tr>
<td><img style="width: 32px; height: 32px;" alt="" src="/images/Add%20Green%20Button.png"></td>
<td>Метки карты, содержат имя автора (пользователя)</td>
</tr>
<tr>
<td><img style="width: 32px; height: 32px;" alt="" src="/images/Add%20Green%20Button.png"></td>
   <td>Форма регистрации в центре страницы или как всплывающее окно средствами JavaScript<br>
</td>
</tr>
<tr>
<td><img style="width: 32px; height: 32px;" alt=""
src="/images/Add%20Green%20Button.png"></td>
<td>Перевод диалога регистрации нового пользователя.</td>
</tr>
<tr>
<td><img style="width: 32px; height: 32px;" alt=""
src="/images/Add%20Green%20Button.png"></td>
<td> регистрации как всплывающее окно средствами JavaScript</td>
</tr>
   </tbody>
</table>
<br>
 </div>

