<script type="text/javascript"  src="http://api-maps.yandex.ru/1.1/index.xml?key=AJwFaE0BAAAAINMjOwIAJc2OZugzc2yYotdPt3HQW940P2MAAAAAAAAAAACjwCC7HYwkSXQVc-qa8P5AH8wwAA==&modules=pmap">
</script>

<script type="text/javascript">
    YMaps.jQuery(function () {
    peoplesMapHybrid = new YMaps.Map( document.getElementById("YPeoplesMapHybrid") );
    peoplesMapHybrid.setCenter(new YMaps.GeoPoint(65.3,55.4) , 10, YMaps.MapType.PHYBRID);
    peoplesMapHybrid.addControl(new YMaps.TypeControl([YMaps.MapType.PMAP, YMaps.MapType.PHYBRID]));
    peoplesMapHybrid.enableScrollZoom();
    peoplesMapHybrid.addControl(new YMaps.Zoom());
    peoplesMapHybrid.addControl(new YMaps.ToolBar());
    peoplesMapHybrid.addControl(new YMaps.ScaleLine());
    <% if logged_in? %>
      var ml = new YMaps.YMapsML('http://mycity45.ru/yml_auth.xml');
    <% else %>
      var ml = new YMaps.YMapsML('http://mycity45.ru/yml.xml');
    <% end %> 
    peoplesMapHybrid.addOverlay(ml);
    YMaps.Events.observe(ml, ml.Events.Fault, function (ml, error) {
                alert('Ошибка: ' + error);
                }); 
    YMaps.Events.observe( peoplesMapHybrid, peoplesMapHybrid.Events.Click,
                           function ( peoplesMapHybrid , mEvent) {
  <% if logged_in? %>

  var myHtml = '<form action="/placemarks" class="new_placemark" id="new_placemark" method="post">  <div style="margin: 0pt; padding: 0pt; display: inline;"><input name="authenticity_token" value="jXglQqdl/wn6VCOfMjxtyR2ZP7R/QITLZO9ciN5d3qc=" type="hidden"></div>  <p><input id="placemark_category_id" name="placemark[category_id]" value="1" checked="checked" type="radio"> Яма <br>  <input id="placemark_category_id" name="placemark[category_id]" value="2" type="radio">Открытый люк <br>  </p>  <p> <label for="placemark_adress">Адрес<br>  <input id="placemark_adress" name="placemark[adress]" size="26" type="text"></p>  <p> <input id="placemark_geopoint" name="placemark[geopoint]"  value="'+mEvent.getGeoPoint()+'" type="hidden"></p><p> <label for="placemark_description">Описание</label><br>  <textarea cols="22" id="placemark_description" name="placemark[description]" rows="5"></textarea></p> <!--<p> <label for="placemark_foto">Foto</label><br>  <input id="placemark_foto" name="placemark[foto]" size="20" type="text"></p> --> <p><input id="placemark_submit" name="commit"value="Создать" type="submit"></p></form';
  
      peoplesMapHybrid.openBalloon(mEvent.getGeoPoint(), myHtml);
      <% end %>
 });	
    });
  </script>
<div id="YPeoplesMapHybrid" style="clear:left; margin-left:100px;  width:1000px;  height:650px"> </div>
